body {
    background-color: #fff;
    font-family: Helvetica Neue, 'Open Sans', sans-serif;
}

body {
    font-size: 18px;
}
@media(max-width: 1580px) {
  body {
    font-size: 18px;
  }
}
@media(max-width: 980px) {
  body {
    font-size: 18px;
  }
}


.espaciado {
    /*padding: 60px 50px;*/
    padding: 2vw;
}

.btn-navbar {
    background-color: #fff;
}

.navbar {
    border: 0;
    border-width: 0;
    /*transparent border*/
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: background-color 1s ease;
}

.navbar .navbar-nav li a,
.navbar .navbar-brand {
    color: #fff;
    transition: color 0.5s ease;
}

.navbar .navbar-nav li a:hover {
    color: #212121;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.3;
    transition: background-color 0.5s ease;
}

.navbar .navbar-nav li.active a {
    color: #C9C7C7;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.navbar.opaque {
    /* background-color: #455A64; */
    background-color: black;
    /* background-color: rgba(0, 0, 0, 0.7); */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.55);
}

.navbar.opaque li a,
.navbar.opaque .navbar-brand {
    color: #fff;
    transition: color 0.5s ease;
}

.navbar.opaque li a:hover {
    color: #757575;
    background-color: #CFD8DC;
    transition: background-color 0.5s ease;
}

.navbar.opaque li.active a {
    color: #757575;
    background-color: #fff;
    transition: background-color 0.5s ease;
}

.navbar-collapse.collapse.in {
    background-color: #000;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}

.spin {
    transform: rotate(1080deg);
    transition: all 0.9s ease;
}

.navbar-brand {
    padding: 0.3vh;
    padding-left: 0.5vw;
    opacity: 0;
}

.navbar.opaque .navbar-brand {
    opacity: 1;
}

.navbar.opaque li {
    opacity: 1;
}

.navbar li {
    opacity: 0;
}


/* collage portada */

#presentacion {
    padding: 1vmin;
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-gap: 1vmin;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
    "f1 f1 f2  f3  f3  f4  f4  f5  f5" 
    "f1 f1 f2  f3  f3  f4  f4  f5  f5" 
    "f1 f1 f2  fo  fo  fo  f6  f5  f5" 
    "f7 f7 f7  fo  fo  fo  f6  f5  f5" 
    "f7 f7 f7  fo  fo  fo  f8  f8  f8" 
    "f9 f9 f10 f10 f10 f11 f11 f12 f12" 
    "f9 f9 f10 f10 f10 f11 f11 f12 f12";
}

@media only screen and (max-width: 600px) {
    #presentacion {
        padding: 1vmin;
        background-color: rgba(0, 0, 0, 1);
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        display: grid;
        grid-gap: 1vmin;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
	"f1 f1 f1  f3  f3  f3  f5  f5  f5" 
	"f1 f1 f1  f3  f3  f3  f5  f5  f5" 
	"f1 f1 f1  fo  fo  fo  f5  f5  f5" 
	"f7 f7 f7  fo  fo  fo  f5  f5  f5" 
	"f7 f7 f7  fo  fo  fo  f8  f8  f8" 
	"f9 f9 f10 f10 f10 f12 f12 f12 f12" 
	"f9 f9 f10 f10 f10 f12 f12 f12 f12";
    }
}

#presentacion div.sombra {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#presentacion div.sombra:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease;
}

#foto_mia {
    grid-area: fo;
    margin: 4vmin;
    background-image: url(../images/yoPicasso_nombre.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.3);
}

#foto_1 {
    grid-area: f1;
    background-image: url(../images/collage/combustion.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_2 {
    grid-area: f2;
    background-image: url(../images/collage/dstar-flame.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_3 {
    grid-area: f3;
    background-image: url(../images/collage/smog.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_4 {
    grid-area: f4;
    background-image: url(../images/collage/pelton.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_5 {
    grid-area: f5;
    background-image: url(../images/collage/offshore.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_6 {
    grid-area: f6;
    background-image: url(../images/collage/tokamak.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_7 {
    grid-area: f7;
    background-image: url(../images/collage/salientPoles.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_8 {
    grid-area: f8;
    background-image: url(../images/collage/turbine.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_9 {
    grid-area: f9;
    background-image: url(../images/collage/turbinaYgenerador.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_10 {
    grid-area: f10;
    background-image: url(../images/collage/substation.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_11 {
    grid-area: f11;
    background-image: url(../images/collage/newsolarcell.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}

#foto_12 {
    grid-area: f12;
    background-image: url(../images/collage/Powerelectronics.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
}


/* end of collage portada */


/*-----------------------------------------------------------------------------*/


/*Start of datos de interes*/


/*-----------------------------------------------------------------------------*/

ul {
    list-style-type: none;
    padding-left: 2.5vh;
}

#listaDatos {
}

@media screen and (max-width: 800px) {
    #listaDatos {
    }
}

.divLogos {
    padding-left: 0;
    padding-right: 0;
    height: 1vh;
}

.logos {
    /*max-height: 2.7vh;*/
    max-height: 1.2vmax;
}

@media screen and (max-width: 800px) {
    .logos {
        max-height: 3vmax;
    }
}

.logosRedes {
    margin-top: 3vh;
    max-height: 2.5vmax;
}

@media screen and (max-width: 800px) {
    .logosRedes {
        max-height: 3.5vmax;
    }
}

#graficaSkills {
    margin-top: -4vh;
    padding: 6vmax;
}


/*-----------------------------------------------------------------------------*/


/*End of datos de interes*/


/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/


/*Start of proyectos section*/


/*-----------------------------------------------------------------------------*/

#proyectos {
    /*background-color: #f6f6f6;*/
}


@media screen and (min-width: 800px){

  #projects_grid {
      width: 100%;
      max-width: 100%;
      padding-left: 5vw;
      padding-right: 5vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-gap: 3vw;
  }

}


.thumbnail {
    position: relative;
    overflow: hidden;
    margin-left: 1vh;
    margin-right: 1vh;
}

@media screen and (max-width: 800px) {
    .thumbnail h3 {
        margin-bottom: -1vmax;
    }
    .thumbnail {
    }
}

.thumbnail:hover {
    border-color: #000;
}

.caption {
    position: absolute;
    top: 0;
    right: 0;
    /*background:rgba(66, 139, 202, 0.75);*/
    background: rgba(83, 109, 254, 0.75);
    width: 100%;
    height: 100%;
    padding: 2%;
    /*display: none;*/
    text-align: center;
    vertical-align: middle;
    color: #fff !important;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@media screen and (max-width: 800px) {
    .caption {
        opacity: 1;
    }
}

.thumbnail:hover .caption {
    /*display: block;*/
    opacity: 1;
}


/*-----------------------------------------------------------------------------*/


/*End of proyectos section*/


/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/


/*Start of sobre mi*/


/*-----------------------------------------------------------------------------*/

#sobremiInfo {
}

@media screen and (max-width: 800px) {
    #sobremiInfo {
    }
}

#imagenOllas {
    padding-bottom: 2vh;
}

#divOllasYtexto {
    padding: 8vh;
    padding-bottom: 2vmax;
}

@media screen and (max-width: 800px) {
    #divOllasYtexto {
        padding-bottom: 3vh;
    }
}


/*-----------------------------------------------------------------------------*/


/*End of sobre mi*/


/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/


/*Start of contacto*/


/*-----------------------------------------------------------------------------*/

#SixtinaManos {
    width: 60%;
    height: auto;
    /* padding-left: 1.5vh; */
    /* padding-right: 1.5vh; */
}

#divContacto {
    /*background-color: #f6f6f6;*/
    padding-bottom: 8vh;
}

#contactos {
    padding-top: 6vh;
}

.infoContacto:hover span {
    color: #000;
}

.infoContacto:hover {
    color: rgb(83, 109, 254);
}

a:hover {
    text-decoration: none;
}

.glyphicon {
    color: rgb(83, 109, 254);
}


/*-----------------------------------------------------------------------------*/


/*End of contacto*/


/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/


/*Start of footer*/


/*-----------------------------------------------------------------------------*/

#footerFinal {
    padding: 3vh;
    color: white;
    /*background-color: #455A64;*/
    background-color: #000;
}

#pajarito {
    width: 37%;
    height: auto;
}


/*-----------------------------------------------------------------------------*/


/*End of footer*/


/*-----------------------------------------------------------------------------*/

