body {
    background-color: #fff;
    /*font-size: 18px;*/
    font-size: 1.5vw;
    font-family: Helvetica Neue, 'Open Sans', sans-serif;
}

body {
    font-size: 18px;
}
@media(max-width: 1580px) {
  body {
    font-size: 18px;
  }
}
@media(max-width: 980px) {
  body {
    font-size: 18px;
  }
}


.espaciado {
    /*padding: 60px 50px;*/
    padding: 2vw;
}

.btn-navbar {
  background-color: #fff;
}

.navbar {
    border: 0;
    border-width: 0;
    /*transparent border*/
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: background-color 1s ease;
}

.navbar .navbar-nav li a, .navbar .navbar-brand {
    color: #fff;
    transition: color 0.5s ease;
}

.navbar .navbar-nav li a:hover {
    color: #212121;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.3;
    transition: background-color 0.5s ease;
}

.navbar .navbar-nav li.active a{
    color: #C9C7C7;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.navbar.opaque {
    /*background-color: #455A64;*/
    background-color: black;
    /* background-color: rgba(0,0,0,0.7); */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.55);
}

.navbar.opaque li a, .navbar.opaque .navbar-brand {
    color: #fff;
    transition: color 0.5s ease;
}

.navbar.opaque li a:hover{
    color: #757575;
    background-color: #CFD8DC;
    transition: background-color 0.5s ease;
}

.navbar.opaque li.active a {
    color: #757575;
    background-color: #fff;
    transition: background-color 0.5s ease;
}

.navbar-collapse.collapse.in {
  background-color: #000;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.spin {
  transform: rotate(1080deg);
  transition: all 0.9s ease;
}

.navbar-brand {
  padding: 0.3vh;
  padding-left: 0.5vw;

}



/*-----------------------------------------------------------------------------*/
/*Start of proyecto PFG*/
/*-----------------------------------------------------------------------------*/

#tituloProyecto {
  margin-top: 0vh;
  padding-top: 20vh;
  padding-left: 6vh;
  padding-right: 6vh;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(0,0,0,0.6);
  height: 50vh;
}

#fechaProyecto {
  padding-top: 2vw;
  font-size: 2vh;
}

#presentacion {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 50vh;
  width: auto;
}


@media screen and (min-width: 800px) {

  #grid {
    display: grid;
    width: 100vw;
    grid-template: auto / repeat(4, 1fr);
    /* grid-gap: 30px; */
    grid-template-areas: "left text text right";
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

}

@media screen and (min-width: 1200px) {

  #grid {
    display: grid;
    width: 100vw;
    grid-template: auto / repeat(3, 1fr);
    /* grid-gap: 30px; */
    grid-template-areas: "left text right";
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

}

@media screen and (max-width: 800px) {
  #grid {
    margin: 2vh;
  }
}

.sidebarleft {
  grid-area: left;
}

.sidebarright {
  grid-area: right;
}

.content {
  grid-area: text;
}

.content img {
  width: 100%;
  height: auto;
}


.thumbnail {
  border-width: 0;
  padding-bottom: 1vmax;
  padding-top: 3vmax;
}

.imagenSuelta {
  padding-bottom: 2vmax;
  padding-top: 1vmax;
}

pre {
  background: #fff;
  border-color: #fff;
}
@media screen and (max-width: 800px) {
  pre {
  }
}

.thumbnail img{
  max-height: 17vmax;
}
@media screen and (max-width: 800px) {
  .thumbnail img {
    max-height: 30vmax;
  }
}

#imagenSecuenciaComandos {
  max-height: 100%;
}

#indice {
}
@media screen and (max-width: 800px) {
  #indice {
  }
}


.jumbotron {
  background-color: #fff;
  /*padding-top: 10vmax;*/
  margin-left: -3.5vmax;
}
@media screen and (max-width: 800px) {
  .jumbotron {
    margin-left: 0vmax;
  }
}

/*-----------------------------------------------------------------------------*/
/*End of proyecto PFG*/
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*Start of footer*/
/*-----------------------------------------------------------------------------*/
#footerFinal {
    padding: 3vh;
    color: white;
    background-color: #000;
}

#pajarito {
  width: 37%;
  height: auto;
}
/*-----------------------------------------------------------------------------*/
/*End of footer*/
/*-----------------------------------------------------------------------------*/
