<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"$if(lang)$ lang="$lang$" xml:lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Title -->
  <title>luisdomingoaranda</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <!-- Bootstrap & Jquery -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Syntax coloring -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/solarized-light.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <!-- Color palette -->
  <link rel="stylesheet" href="/css/palette2.css">
  <!-- Custom proyecto CSS -->
  <link rel="stylesheet" href="/css/projects.css">
  <!-- Slide animation -->
  <link rel="stylesheet" href="/css/slideAnimation.css">
  <!-- Emojis -->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="date" content="$date-meta$" />
$endif$
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <style type="text/css">code{white-space: pre;}</style>
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <!-- --------------------------------------------------------------------- -->
  <!-- Navigation -->
  <!-- --------------------------------------------------------------------- -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#myPage" class="navbar-brand">
          <img class="img-responsive" id="molino" src="/images/molinilloHome.png" alt="molino">
        </a>
        <button type="button" class="navbar-toggle btn-navbar" data-toggle="collapse"
                                                               data-target="#myNavbar" id="botonNav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right pull-right">
          <li><a href="/index.html#projects">Projects</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- --------------------------------------------------------------------- -->
  <!-- End of navigation -->
  <!-- --------------------------------------------------------------------- -->

$for(include-before)$
$include-before$
$endfor$
$if(title)$
$if(date)$
<!-- --------------------------------------------------------------------- -->
<!-- presentacion con titulo -->
<!-- --------------------------------------------------------------------- -->
<div class="container-fluid" id="presentacion" style="background-image: url(thumbnail.jpg)">
  <div class="row">
    <h1 class="text-center" id="tituloProyecto"><b>$title$</b> <p id="fechaProyecto">$date$</p></h1>
  </div>
</div> <!-- end of container-fluid -->
<!-- --------------------------------------------------------------------- -->
<!-- end of presentacion con titulo -->
<!-- --------------------------------------------------------------------- -->
$if(subtitle)$
<h1 class="subtitle">$subtitle$</h1>
$endif$
$for(author)$
<h2 class="author">$author$</h2>
$endfor$
$endif$
$endif$
$if(toc)$
<div id="$idprefix$TOC">
$toc$
</div>
$endif$


<div id="grid">
  <div class="leftside"></div>
  <div class="content">
<!-- --------------------------------------------------------------------- -->
<!-- Contenido -->
<!-- --------------------------------------------------------------------- -->

$body$

<!-- --------------------------------------------------------------------- -->
<!-- end of contenido -->
<!-- --------------------------------------------------------------------- -->
  </div>
  <div class="rightside"></div>
</div>


  <!-- --------------------------------------------------------------------- -->
  <!-- footer -->
  <!-- --------------------------------------------------------------------- -->
  <footer id="footerFinal">
        <div class="container-fluid text-center">
          <div class="col-sm-8">
            <blockquote>
              <p>Never Send a Human to Do a Machine's Job</p>
              <footer style="color: white;">Agent Smith - The Matrix</footer>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <img id="pajarito" src="/images/drinkingBird.gif" alt="drinkingBird">
          </div>
        </div>
    </footer>
    <!-- --------------------------------------------------------------------- -->
  <!-- end of footer -->
  <!-- --------------------------------------------------------------------- -->


$for(include-after)$
$include-after$
$endfor$

  <!-- SCRIPTS -->
  <script type="text/javascript" src="/javascript/jquery.js"></script>
  <script type="text/javascript" src="/javascript/opaqueNav.js"></script>

</body>
</html>
